!!!
!!! XML
%html
  %head
    %title listrophy on github
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/site.css'}
  %body
    %h1
      &rarr;
      %a{:href => 'http://github.com/listrophy'} listrophy
      &larr;
    %dl
      %dt
        %a{:href => 'http://github.com/listrophy'} on github
      %dd my code
      %dt
        %a{:href => 'https://twitter.com/listrophy'} on twitter
      %dd my short musings
      %dt
        %a{:href => 'http://www.namingthingsishard.com'} naming things is hard
      %dd my long musings
      %dt
        %a{:href => 'http://bendyworks.com'} bendyworks
      %dd the group to which i belong
    %a{:href => 'http://github.com/listrophy/listrophy.github.com'}
      %img{:src =>'http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', :alt =>'Fork me on GitHub'}
    %div
      &copy;2009&ndash;2012 Bradley Grzesiak. Some rights reserved.
      %br/
      This
      %span{"xmlns:dc" => "http://purl.org/dc/elements/1.1/", :href => "http://purl.org/dc/dcmitype/Text", :rel => 'dc:type'}work
      is licensed under a
      %a{:rel => 'license', :href => 'http://creativecommons.org/licenses/by-sa/3.0/us/'}Creative Commons Attribution-Share Alike 3.0 United States License
