!!!
!!! 5
%html
  %head
    %title professional mobile development
  %body
    %hgroup
      %h1 Professional Mobile Development
      %h2 for CS 407
    %h2 Links
    %ul
      %li
        %a{href: 'http://speakerdeck.com/u/listrophy/p/professional-mobile-development-for-uw-madison'} The slides
      %li
        %a{href: 'http://bendyworks.com'} Bendyworks (my company)
      %li
        %a{href: 'http://meetup.com/nscoder'} NSCoder&mdash;Madison Objective-C User Group
      %li
        %a{href: 'http://progit.org'} Pro Git (free eBook)
      %li
        %a{href: 'http://likethought.com/opacity/'} Opacity ($40)
      %li
        %a{href: 'http://rentzsch.github.com/mogenerator/'} mogenerator &amp; xmo'd
      %li
        %a{href: 'https://github.com/allending/kiwi'} Kiwi
      %li
        %a{href: 'https://github.com/moredip/Frank'} Frank
      %li
        %a{href: 'http://www.ted.com/talks/shawn_achor_the_happy_secret_to_better_work.html'} The Happy Secret to Better Work (TEDx)

