html {
  background-color: #515154;
  margin: 0;
  padding: 0; }

body {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  width: 60%;
  color: #121621;
  background-color: #ffffff; }

a {
  color: #364263;
  text-decoration: none;
  font-weight: bold; }

h1 {
  text-align: center;
  font-size: 3em;
  color: #f34607;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em; }

h2 {
  clear: both;
  float: right;
  padding: 5px 5px 1px 20px;
  color: #ffffff;
  background-color: #515154;
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #f34607;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #f34607; }

dl {
  clear: both;
  font-size: 1.5em; }

dt {
  clear: left;
  float: left;
  width: 40%;
  text-align: right;
  display: inline;
  margin: .25em 0 .25em 0; }
  dt a {
    padding-right: .8em;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: #f34607;
    border-right-width: 2px; }

dd {
  display: inline;
  float: left;
  width: 56%;
  text-align: left;
  margin: .25em 0 .25em 1em; }

img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0; }

div {
  clear: both;
  text-align: center;
  font-size: .8em;
  padding-top: 2em; }
